.select-icon{
    list-style: none;
    font-size: 25px;
    text-align: justify;
    width: 165px;
    height: 100px;
    overflow: auto;
    padding: 0px;
}
    .select-icon li{
        display: inline-block;
    }
        .select-icon i.active{
            background: rgb(179, 179, 179);
            color: #3e9eff;
            text-shadow: 0px 0px 1px #000000;
            -webkit-text-shadow: 0px 0px 1px #000000;
            -moz-text-shadow: 0px 0px 1px #000000;
            -ms-shadow: 0px 0px 1px #000000;
            -o-shadow: 0px 0px 1px #000000;
        }
        .select-icon .fa{
            cursor: pointer;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            padding: 3px;
            text-align: center;
            color: rgb(179, 179, 179);
        }
            .select-icon .fa:hover{
                text-shadow: 0px 0px 1px #000000;
                -webkit-text-shadow: 0px 0px 1px #000000;
                -moz-text-shadow: 0px 0px 1px #000000;
                -ms-shadow: 0px 0px 1px #000000;
                -o-shadow: 0px 0px 1px #000000;
            }